{% extends 'base.html' %}
{% block title %} Add Machienes {% endblock %}


{% block content %}
    <h1>Add Machienes Post</h1>
    <form action="{{ url_for('machine_add') }}" method="POST" enctype="multipart/form-data">
        <label for="name">Название</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="type">Тип Машины</label>
        <select name="type" id="machine_type" required>
            <option value="rollers">Rollers</option>
            <option value="pavers">Pavers</option>
            <option value="excavators">Excavators</option>
            <option value="components">Components</option>
            <option value="others">Others</option>
        </select>
        <br/><br/>
        <label for="cost">Стоимость</label>
        <input type="number" id="cost" name="cost" required>
        <br><br>
        <label for="manufacturer">Производитель</label>
        <input type="text" id="manufacturer" name="manufacturer" required>
        <br><br>
        <label for="model">Модель</label>
        <input type="text" id="model" name="model" required>
        <br><br>
        <label for="mfg_year">Год</label>
        <input type="number" id="year" name="mfg_year" required>
        <br><br>
        <label for="condition">Состояние</label>
        <input type="text" id="condition" name="condition" required>
        <br><br>
        <label for="hours">Моточас</label>
        <input type="number" id="hours" name="hours" required>
        <br><br>
        <label for="weight">Вес</label>
        <input type="number" id="weight" name="weight" required>
        <br><br>
        <label for="engine">Марка двигателя</label>
        <input type="text" id="engine" name="engine" required>
        <br><br>
        <label for="fuel">Тип топлива</label>
        <input type="text" id="fuel" name="fuel" required>
        <br><br>
        <label for="description">Описание</label>
        <textarea name="description" id="description" rows="10" required></textarea>
        <br><br>
        <label for="images">Select files:</label>
        <input type="file" name="images" multiple="multiple" accept="image/jpeg, image/png, image/jpg">
        <br><br>
        <button type="submit">Submit!</button>
    </form>

    <script>
        const form = document.getElementsByTagName('form')[0];
        const tagsInput = document.getElementById('tags');
        const readyTags = document.getElementById('ready-tags');
        const addTagBtn = document.getElementById('add-tag');

        let addedTags = [];

        addTagBtn.onclick = e => {
            e.preventDefault();

            const tag = tagsInput.value.trim();
            if (tag) {
                addedTags.push(tag);
                readyTags.textContent = addedTags.join(', ');
            }
            tagsInput.value = "";
            console.log(addedTags);
        }
        form.onsubmit = (e) => tagsInput.value = addedTags.join(',');
    </script>
{% endblock %}
