{% extends 'base.html' %}
{% block title %} Edit News {% endblock %}

<!-- @NOTE: DO NOT CHANGE NAME ATTRIBUTES INSIDE FORM TAG -->

{% block content %}
    <h1>Edit Post</h1>
    <form action="{{ url_for('edit_news') }}" method="POST" enctype="multipart/form-data">
        <label for="title">New Title</label>
        <input type="text" id="title" name="post_title" required>
        <br><br>
        <label for="short_desc">New Short Description:</label>
        <textarea name="post_short_desc" id="short_desc" rows="3"></textarea>
        <br><br>
        <label for="content">New Content</label>
        <textarea name="post_content" id="content" rows="9"></textarea>
        <br><br>
        <label for="pic">New Pic</label>
        <input type="file" name="post_pic" id="pic">
        <br><br>
        <button type="submit">Submit!</button>
    </form>
{% endblock %}